/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: ;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/* Bar Fiiler Jq section Start */
.section-padding.colored-bg {
  background-color: #6ed3ee;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  line-height: 1.8;
}
.section-padding {
  padding: 80px 0;
}
.single-bar-item h2 {
	font-size: 25px;
}
/* Bar Fiiler Jq section Stop */